@{
    ViewData["placeHolderFilter"] = "Pencarian berdasarkan Nama/Email/Prodi/NPP";
}

<partial name="~/Views/Shared/_PageHeaderTitle.cshtml" />

<div class="content">
    <div class="container-fluid">
        <partial view-data="ViewData" name="~/Views/Shared/Filter/Filter_1Field.cshtml" />

        <div class="row">
            <div class="col-md-12">
                <div class="card card-default card-sm">

                    <div class="card-body card-body-sm">
                        <table class="table table-bordered table-striped table-responsive-sm" style="width:100%" id="gridAuditor">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>NPP</th>
                                    <th>NAMA</th>
                                    <th>EMAIL</th>
                                    <th>KODE UNIT</th>
                                    <th>NAMA UNIT</th>
                                    <th>PRODI</th>
                                     <th>Aksi</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/Auditor/AuditorForm.cshtml" />

@section JavaScript
{
<script type="text/javascript" src="@Url.Content("/js/modules/auditor.js")"></script>
}