<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] | @ViewBag.ApplicationName </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900%7cOpen+Sans:300,400,400i,600,700" rel="stylesheet">
	<link rel="stylesheet" href="~/css_landing/bootstrap.css">
	<link rel="stylesheet" href="~/css_landing/plugin-resets.css">
	<link rel="stylesheet" href="~/css_landing/font-awesome.min.css">
	<link rel="stylesheet" href="~/css_landing/style.css">
	<link rel="stylesheet" href="~/css_landing/responsive.css">
	<link rel="stylesheet" href="~/css_landing/colors.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed text-sm">
    <div id="wrapper">
        
        <header id="header">
            <div class="header-holder">
                <!-- main logo of the page -->
                <div class="logo">
                    <a href="#"><img src="images/logo.png" alt="TIANNA"></a>
                </div>
            </div>
        </header>

        @RenderBody()
        
        <footer id="footer" class="pad-tlg2">
            <div class="copyright pad-tsm pad-bsm">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <p>Copyright &copy; 2016 Tianna. All Right Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/css_landing/jquery.js"></script>
    <script src="~/templates/plugins/jquery/plugins.js"></script>
    <script src="~/templates/plugins/jquery/jquery.min.js"></script>
</body>
</html>
