<div class="modal fade" role="dialog" id="modalStandarSPMI" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalHeader">Default Modal</h4>
            </div>
             <form class="form-horizontal" method="post" role="form" id="formTambah">
            <div class="modal-body">
               
                    @Html.AntiForgeryToken()

                    <div class="form-group row form-group-sm">
                        <label for="txtNoStandar" class="col-sm-3 col-form-label col-form-label-sm">No Standar</label>
                        <div class="col-sm-9">
                            <input type="hidden" name="txtId" class="form-control form-control-sm" id="txtId">
                            <input type="text" name="txtNoStandar" class="form-control form-control-sm" id="txtNoStandar"
                                   placeholder="No Standar" required>
                        </div>
                    </div>

                    <div class="form-group row form-group-sm">
                        <label for="txtPernyataan" class="col-sm-3 col-form-label col-form-label-sm">Pernyataan Standar</label>
                        <div class="col-sm-9">
                            <textarea name="txtPernyataan" class="form-control form-control-sm" id="txtPernyataan"
                                   placeholder="Pernyataan" required></textarea>
                        </div>
                    </div>

                    <div class="form-group row form-group-sm">
                        <label for="txtIndikator" class="col-sm-3 col-form-label col-form-label-sm">Indikator Kerja</label>
                        <div class="col-sm-9">
                            <textarea name="txtIndikator" class="form-control form-control-sm" id="txtIndikator"
                                   placeholder="Indikator" required></textarea>
                        </div>
                    </div>

            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-sm">Simpan</button>
                <button type="button" id="btnCancel" class="btn btn-default btn-sm">Batal</button>
            </div>
            
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section JavaScript
{

}