<div class="modal fade" role="dialog" id="modalPenugasan" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalHeader">Default Modal</h4>
            </div>
            <form class="form-horizontal" method="post" role="form" id="formTambah">
            <div class="modal-body">
                
                    @Html.AntiForgeryToken()
                     <input type="hidden" name="txtID" class="form-control form-control-sm" id="txtID">
                     <div class="form-group row form-group-sm">
                        <label for="txtJamMulai" class="col-sm-3 col-form-label col-form-label-sm">Tanggal Kegiatan</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input id="txtTglKegiatan" name="txtTglKegiatan" type="text" autocomplete="off" class="form-control form-control-sm datepicker" required>
                                <div class="input-group-text">
                                    <span class="fa fa-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="form-group row form-group-sm">
                        <label for="txtJamMulai" class="col-sm-3 col-form-label col-form-label-sm">Jam Mulai</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input id="txtJamMulai" name="txtJamMulai" type="text" autocomplete="off" class="form-control form-control-sm timepicker" required >
                                <div class="input-group-text">
                                    <span class="fa fa-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row form-group-sm">
                        <label for="txtJamAkhir" class="col-sm-3 col-form-label col-form-label-sm">Jam Selesai</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input id="txtJamAkhir" name="txtJamAkhir" type="text" autocomplete="off" class="form-control form-control-sm timepicker" required>
                                <div class="input-group-text">
                                    <span class="fa fa-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="form-group row form-group-sm">
                        <label for="txtUnitAuditee" class="col-sm-3 col-form-label col-form-label-sm">Auditee</label>
                        <div class="col-sm-9">
                            <select style="width:100%;" class="form-control select2 select2bs4" id="txtIdAuditee" name="txtIdAuditee" required>
                                <option value=""> - </option>
                            </select>
                        </div>
                    </div>

                     <div class="form-group row form-group-sm">
                        <label for="txtUnitAuditee" class="col-sm-3 col-form-label col-form-label-sm">Audiator</label>
                        <div class="col-sm-9">
                            <select style="width:100%;" class="form-control select2 select2bs4" id="txtIdAuditor" name="txtIdAuditor[]" multiple="multiple" required>
                              
                            </select>
                        </div>
                    </div>

                    
               
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-sm">Simpan</button>
                <button type="button" id="btnCancel" class="btn btn-default btn-sm">Batal</button>
            </div>
             </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section JavaScript
{

}