@{
    ViewData["placeHolderFilter"] = "Pencarian Riwayat Verifikasi";
}

<partial name="~/Views/Shared/_PageHeaderTitle.cshtml" />

<div class="content">
    <div class="container-fluid">

        <partial view-data="ViewData" name="~/Views/Shared/Filter/Filter_1Field.cshtml" />
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default card-sm">

                    <div class="card-body card-body-sm">
                        <table class="table table-bordered table-striped table-responsive-sm" style="width:100%" id="grid">
                            <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>Uraian Temuan</th>
                                    <th>Auditor</th>
                                    <th>Auditee</th>
                                    <th>Setuju/Tidak</th>
                                    <th>Catatan</th>
                                    <th>Uraian</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section JavaScript
{
<script type="text/javascript">
    let role="@ViewData["Role"]";
    let id_auditor="@ViewData["IdAuditor"]";
</script>
<script type="text/javascript" src="@Url.Content("/js/modules/verifikasi_auditor.js")"></script>
}