@{
    ViewData["placeHolderFilter"] = "Pencarian Riwayat Verifikasi";
}

<partial name="~/Views/Shared/_PageHeaderTitle.cshtml" />

<div class="content">
    <div class="container-fluid">

         <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" id="frmFilter">
                    <div class="card card-default card-sm">
                        <div class="card-header card-header-sm">
                            <h3 class="card-title">Pencarian</h3>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body card-body-sm">
                            <div class="form-group row form-group-sm">
                                <label for="inputSearch" class="col-sm-2 col-form-label col-form-label-sm">Cari</label>
                                <div class="col-sm-10">
                                    <input type="text" name="inputSearch" class="form-control form-control-sm text-xs" id="inputSearch" placeholder="@ViewData["placeHolderFilter"]">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-sm">Cari</button>
                            <button type="button" class="btn btn-default btn-sm" id="btnFilterClear">Reset</button>
                        </div>
                    </div>
                    <!-- /.card -->
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card card-default card-sm">

                    <div class="card-body card-body-sm">
                        <table class="table table-bordered table-striped table-responsive-sm" style="width:100%" id="grid">
                            <thead>
                                 <tr>
                                    <th rowspan="2"> NO </th>
                                    <th colspan="2" style="text-align: center;"> PERSETUJUAN </th>
                                    <th align="center"> CAR/OB BARU </th>
                                </tr>
                                <tr>
                                    <th> Setuju/Tidak</th>
                                    <th> Catatan </th>
                                    <th> Uraian </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section JavaScript
{
<script type="text/javascript">
    let role="@ViewData["Role"]";
    let id_auditor="@ViewData["IdAuditor"]";
</script>
<script type="text/javascript" src="@Url.Content("/js/modules/verifikasi_auditor.js")"></script>
}