@{
    ViewData["placeHolderFilter"] = "Pencarian berdasarkan Nama/Unit/Kode";
}

<partial name="~/Views/Shared/_PageHeaderTitle.cshtml" />

<div class="content">
    <div class="container-fluid">

        <partial view-data="ViewData" name="~/Views/Shared/Filter/Filter_1Field.cshtml" />

        <div class="row">
            <div class="col-md-12">
                <div class="card card-default card-sm">

                    <div class="card-body card-body-sm">
                        <table class="table table-bordered table-striped table-responsive-sm" style="width:100%" id="gridAuditee">
                            <thead>
                                <tr>
                                   <th>No</th>
                                    <th>NPP</th>
                                    <th>UNIT AUDITEE</th>
                                    <th>SINGKATAN RESMI</th>
                                    <th>AUDITEE</th>
                                     <th>Aksi</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/Person/Auditee_Form.cshtml" />

@section JavaScript
{
<script type="text/javascript">
        let personType="@ViewData["personType"]";
</script>
<script type="text/javascript" src="@Url.Content("/js/modules/auditee.js")"></script>

<script type="text/javascript" src="@Url.Content("/js/modules/auditee_edit.js")"></script>
}