@{
    ViewData["placeHolderFilter"] = "Pencarian berdasarkan Nama/Email/Prodi/NPP";
}

<partial name="~/Views/Shared/_PageHeaderTitle.cshtml" />

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" id="frmFilter">
                    <div class="card card-default card-sm">
                        <div class="card-header card-header-sm">
                            <h3 class="card-title">Pencarian</h3>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body card-body-sm">
                            <div class="form-group row form-group-sm">
                                <label for="inputSearch" class="col-sm-2 col-form-label col-form-label-sm">Cari</label>
                                <div class="col-sm-10">
                                    <input type="text" name="inputSearch" class="form-control form-control-sm text-xs" id="inputSearch" placeholder="@ViewData["placeHolderFilter"]">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-sm">Cari</button>
                            <button type="button" class="btn btn-default btn-sm" id="btnFilterClear">Reset</button>
                        </div>
                    </div>
                    <!-- /.card -->
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card card-default card-sm">

                    <div class="card-body card-body-sm">
                        <table class="table table-bordered table-striped table-responsive-sm" style="width:100%" id="gridAuditor">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>NPP</th>
                                    <th>NAMA</th>
                                    <th>EMAIL</th>
                                    <th>KODE UNIT</th>
                                    <th>NAMA UNIT</th>
                                    <th>PRODI</th>
                                     <th>Aksi</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="kiModalContainer" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="'kiModalHeader'">Default Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
             <form class="form-horizontal" method="post" role="form" id="formTambah">
            <div class="modal-body">
               
                    @Html.AntiForgeryToken()
                    <div class="form-group row form-group-sm">
                        <label for="txtNPP" class="col-sm-3 col-form-label col-form-label-sm">Nama</label>
                        <div class="col-sm-9">
                            <select style="width:100%;" class="form-control select2 select2bs4" id="txtNPP" name="txtNPP" required>
                                <option value=""> - </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row form-group-sm">
                        <label for="txtKode" class="col-sm-3 col-form-label col-form-label-sm">Kode</label>
                        <div class="col-sm-9">
                            <input type="hidden" name="txtID" class="form-control form-control-sm" id="txtID">
                            <input type="text" name="txtKode" class="form-control form-control-sm" id="txtKode"
                                   placeholder="Kode" required>
                        </div>
                    </div>

                    <div class="form-group row form-group-sm">
                        <label for="txtProgramStudi" class="col-sm-3 col-form-label col-form-label-sm">Program Studi</label>
                        <div class="col-sm-9">
                            <input type="text" name="txtProgramStudi" class="form-control form-control-sm" id="txtProgramStudi"
                                   placeholder="Program Studi" required>
                        </div>
                    </div>

                    <div class="form-group row form-group-sm">
                        <label for="txtEmail" class="col-sm-3 col-form-label col-form-label-sm">Email</label>
                        <div class="col-sm-9">
                            <input type="email" name="txtEmail" class="form-control form-control-sm" id="txtEmail"
                                   placeholder="Email">
                        </div>
                    </div>
              
            </div>

            <div class="modal-footer">
                <button type="submit" id="btnSave_ModalAuditor" class="btn btn-success btn-sm">Simpan</button>
                <button type="button" id="btnCancel_ModalAuditor" class="btn btn-default btn-sm">Batal</button>
            </div>
              </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



@section JavaScript
{
<script type="text/javascript">
        let personType="@ViewData["personType"]";
</script>
<script type="text/javascript" src="@Url.Content("/js/modules/auditor.js")"></script>
}