<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Detail Pengumuman</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="content">
    <div class="container-fluid">
         
        <div class="row">
          
            <div class="col-lg-12">
                <a href="/" class="btn btn-danger btn-sm mb-2" type="button" title="Kembali"><i class="fa fa-arrow-left"></i> Kembali</a> 
                <div class="card card-primary card-outline mt-2">
                    <div class="card-header text-center">
                        <center>
                        <h5 class="card-title text-center" style="font-size:20px;float: none;font-weight:bold">@ViewBag.data_dashbord.JUDUL</h5>
                     <span style="color:blue">@ViewBag.data_dashbord.TANGGAL</span>   
                    </center>
                    </div>
                    <div class="card-body">
                       
                        <span style="font-size:18px">@ViewBag.data_dashbord.KETERANGAN</span>
                    </div>
                    <div class="footer bg-light p-2">
                        <div class="d-flex justify-content-between">
                         
                        </div>
                    </div>
                   
                </div><!-- /.card -->
            </div>
        </div>

    </div>
</div>



@section JavaScript
{
}