<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="content">
    <div class="container-fluid">
          <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-success alert-dismissible">
                     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    @{
                        var username = ViewBag.UserName;
                        if (ViewBag.Role == "Auditee")
                        {
                            username = ViewBag.Prodi;
                        }
                    }
                     <h5 class="card-title">Selamat Datang Kembali <b>@username. </b> </h5>&nbsp; <h6> Anda Bertugas Sebagai <b>@ViewBag.Role</b></h6>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="mb-0">Pengumuman</h3>
                         @if (ViewBag.Role == "Admin"){
                         <button class="btn btn-primary btn-sm" type="button" title="Ubah Data"><i class="fa fa-plus"></i> Tambah Pengumuman</button> 
                         }
                     </div>
                    <hr />
                </div>
            </div>
        <div class="row">
            @foreach (var value in ViewBag.data_dashbord)
                {
            <div class="col-lg-3 d-flex align-items-stretch">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="card-title">@value.JUDUL</h5>
                    </div>
                    <div class="card-body">
                     @value.TANGGAL                  
                    </div>
                    <div class="footer bg-light p-2">
                        <div class="d-flex justify-content-between">
                         <button class="btn btn-primary btn-sm" type="button" title="Read More">Read More</button> 
                          @if (ViewBag.Role == "Admin"){
                            <div class="dt-buttons btn-group flex-wrap"> 
                                <button class="btn btn-primary btn-sm" type="button" title="Ubah Data"><i class="fa fa-pencil-alt"></i></button> 
                                <button class="btn btn-danger" type="button" title="Hapus Data"><i class="fa fa-trash"></i></button> 
                            </div>
                          }
                        </div>
                    </div>
                   
                </div><!-- /.card -->
            </div>
              }
        </div>

    </div>
</div>