<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="card card-primary card-outline">
                    <div class="card-body p-5">
                        <h5 class="card-title">Selamat Datang <b>@ViewBag.UserName</b> </h5><br />
                        <h6>Anda Bertugas Sebagai <b>@ViewBag.Role</b></h6>
                        
                        <!--<a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>-->
                    </div>
                </div><!-- /.card -->
            </div>
            <div class="col-lg-4"  style="display:none">


                <div class="col-lg-12 col-12">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3> > 150</h3>

                            <p>End Points</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                    </div>
                </div>
                <div class="col-lg-12 col-12">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3> > 150</h3>

                            <p>End Points</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>