@{
    Layout = "/Views/Shared/_LandingPage.cshtml";
}
<main id="main" role="main">
    <section class="main-slider">
        <div class="slide parallax" >
            <div class="caption text-center">
                <center><img src="images/icon-audit.png" class="logo-audit" /></center>
                <h1>Sistem Informasi Audit Mutu Internal </h1>
                <span class="txt" style="margin-top:0px;padding-top:0px;margin-bottom:20px;font-size: 35px;line-height: 1;">Kantor Penjaminan Mutu</span>
                <a href="/Account/Login" class="btn-info white" >Login</a>
            </div>
        </div>
    </section>
</main>