@{
    Layout = "/Views/Shared/_LandingPage.cshtml";
}
<main id="main" role="main">
    <section class="main-slider">
        <div class="slide parallax overlay" style="background-image: url('http://placehold.it/1920x1080');">
            <div class="caption text-center">
                <h1>check out <br>the best <span class="color">one</span> page</h1>
                <span class="txt italic">Lorem ipsum dolor sit amet, velit urna. Metus ornare est erat feugiat egestas vulputate. Lectus litora nascetur nunc ipsum rutrum mauris.</span>
                <a href="/Account/Login" class="btn-info white">Register Now</a>
            </div>
        </div>
    </section>
</main>